.counter {
    display: flex;
}

.dispText {
    font-size: 70px;
    color: white;
}

.dispHint {
    color: red;
}

.setContainer {
    margin-top: 50px;
    margin-left: 50px;
    width: 350px;
    height: 240px;
    border: 2px solid #56d1f2;
    border-radius: 5px;
}

.setContainerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    padding: 5px;
    border: 2px solid #56d1f2;
    border-radius: 5px;
}

.setInputValue {
    margin: 5px;
    display: flex;
    align-items: center;
    color: #56d1f2;
    font-weight: 900;
}